{scaffolding_listing params=$_listing class=list}
{capture name=actions}
	{if $title}<h1>{$title}</h1>{/if}
	{if $_listing.filters}
		<div class="listing_filter">
			{foreach from=$_listing.filters key=filter_name item=f}
				{html_field type=$f.type name=$filter_name data=$f.data value=$f.value class=$f.class show_empty_option=$f.show_empty_option|default:1 empty_option_title=$f.empty_option_title format=$f.format picker=$f.picker}
			{/foreach}
			<a class="button apply" title="{$__labels.__globals.ACTIONS.apply_filter}" href=""><span>{$__labels.__globals.ACTIONS.apply_filter}</span></a>
			<div class="cleaner">&nbsp;</div>
		</div>
	{/if}
	{if $listing_add || $_listing.actions}
		<div class="menu">
			{$listing_add}
			{foreach from=$_listing.actions item=a}
				{if $_listing.user_can[$a.permission]}
					<a {if $a.id} id="action-button-{$a.id}"{/if} class="button {$a.class}" title="{$__labels.__globals.ACTIONS[$a.title]|default:$a.title}" href="{$a.href|default:$a.title}">
						<span>{$__labels.__globals.ACTIONS[$a.title]|default:$a.title}</span>
					</a>
				{/if}
			{/foreach}
			<div class="cleaner">&nbsp;</div>
		</div>
	{/if}
{/capture}
{capture name=content}
	{if $_listing.data}<p class="results">{$__labels.__globals.FOUND_ROWS} {$_listing.data[0]->total_results} results</p>{/if}
	{$listing}
{/capture}