/* 
*
*	 Internet Explorer custom styles
*	---------------------------------
*
*/
/* --- Common ------------------------------------------------------------------------------------------------------------------ */ 


/* --- Fonts ------------------------------------------------------------------------------------------------------------------ */
body { font: 12px/18px "Lucida Grande", Verdana, Arial, Helvetica, sans-serif; }


h1, h2, h3, h4, h5 {
	font-family: "Trebuchet MS", Tahoma, Verdana, sans-serif;
	font-weight: normal;
}


h1 { font-size: 26px; }
h2 { font-size: 22px; }
h3 { font-size: 18px; }
h4 { font-size: 16px; }
h5 { font-size: 14px; } 	
h6 { font-size: 12px; }

/* --- Layout IE Fix ---------------------------------------------------------------------------------------------------------- */ 
#sidebar { left: 0px; overflow: hidden;  }
* html #sidebar { left: 150px; /* RC width */ }

#header h1 { padding-top: 25px; }


/* --- Tabs -------------------------------------------------------------------------------------------------------------------- */
.tabs_ul { bottom: 0; }


/* --- Navigation -------------------------------------------------------------------------------------------------------------- */


/* --- Forms ------------------------------------------------------------------------------------------------------------------- */
form { height: 1%; }
form .buttons .field input { padding: 0 10px; float: left;  }

#login form .buttons { padding-bottom: 0; }


/* --- Lists ------------------------------------------------------------------------------------------------------------------- */
.menu,
#listing-filter { height: 1%; }

