#dashboard #cnt_inn { padding: 20px 10px 10px 20px; }

#dashboard .panel { width: auto; float: none; overflow: hidden; margin: 10px 10px 20px 10px; border: 1px solid #CCC;
	-webkit-box-shadow: 0 0 10px #CCC;
	-moz-box-shadow: 0 0 10px #CCC;
}

#dashboard .panel .header { padding: 15px 20px 10px 18px;  }
#dashboard .panel .header h3 { padding: 0; margin: 0; font-size: 180%;   }
#dashboard .panel .content { padding: 0 20px 20px 20px;  }

#dashboard .panel.list .header { padding: 15px 20px 0 18px;  }
#dashboard .panel.list .content { padding: 10px;  }
#dashboard .panel.list ul { border: 1px solid #d5d5d5; overflow: hidden;  }
#dashboard .panel.list ul li { border-bottom: 1px solid #d5d5d5; }
#dashboard .panel.list ul li.last { border: none; }
#dashboard .panel.list ul li a { display: block; padding: 5px 10px;}
#dashboard .panel.list ul li a.icon-text { padding-left: 32px; }
#dashboard .panel.list ul li a:hover { background-color: #EEE; }
#dashboard .panel.list ul li .name { display: block; font-size: 12px; line-height: 12px; color: #000;  }
#dashboard .panel.list ul li .actions { display: block; width: 50px; height: 16px; position: absolute; bottom: 8px; right: 0;  }
#dashboard .panel.list ul li .actions a { float: left; margin-left: 5px; }

#dashboard .panel table { width: 100%; border-collapse: collapse; border-top: 1px solid #CCC; }
#dashboard .panel table th,
#dashboard .panel table td { padding: 3px; border-bottom: 1px solid #CCC; text-align: right;  }
#dashboard .panel table td { text-align: right;  }

#dashboard .panel.list ul,
#dashboard .panel { 
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
