.icon,
.icon-text 	{ display: block; height: 16px; background-position: left top; background-repeat: no-repeat;  }

.icon		{ overflow: hidden; width: 16px; text-indent: 1000px; }
.icon-text 	{ padding: 0 0 0 32px; white-space: nowrap; background-position: 10px center; }

.icon-text.groups, 	.icon.groups 		{ background-image: url(icons/users.png); 		}
.icon-text.users, 	.icon.users 		{ background-image: url(icons/user_business.png); 		}
.icon-text.add, 	.icon.add 			{ background-image: url(icons/page_add.png); 		}
.icon-text.view, 	.icon.view 			{ background-image: url(icons/page.png); 			}
.icon-text.edit, 	.icon.edit 			{ background-image: url(icons/page_edit.png); 		}
.icon-text.delete, 	.icon.delete 		{ background-image: url(icons/page_delete.png); 	}
.icon-text.save, 	.icon.save 			{ background-image: url(icons/disk.png); 			}
.icon-text.active, 	.icon.active		{ background-image: url(icons/accept.png); 			}
.icon-text.inactive,.icon.inactive		{ background-image: url(icons/delete.png); 			}

.icon-text.email,	.icon.email			{ background-image: url(icons/email.png); 			}
.icon-text.email_go,.icon.email_go		{ background-image: url(icons/email_go.png); 		}

.icon-text.report,	.icon.report			{ background-image: url(icons/report.png); 			}
.icon-text.gallery,	.icon.gallery		{ background-image: url(icons/gallery.png); 			}
.icon-text.stop,	.icon.stop				{ background-image: url(icons/stop.png); 			}
.icon-text.regenerate,	.icon.regenerate	{ background-image: url(icons/arrow_refresh.png); 			}
.icon-text.email,	.icon.email	{ background-image: url(icons/email.png); 			}

.icon-text.arrow_up,		.icon.arrow_up		{ background-image: url(icons/arrow_up.png); 		}
.icon-text.arrow_down,		.icon.arrow_down	{ background-image: url(icons/arrow_down.png); 		}
.icon-text.arrow_updown,	.icon.arrow_updown	{ background-image: url(icons/arrow_updown.png); 	}


.icon-text.tab-add,		.icon.tab-add		{ background-image: url(icons/tab__plus.png); 		}
.icon-text.close,		.icon.close			{ background-image: url(icons/cross.png); 			}
.icon-text.tab-close,	.icon.tab-close		{ background-image: url(icons/cross_circle.png); 	}

.icon.icon-switch-user { background-image: url(icons/user_go.png); }

.icon-text.files, 	.icon.icon-files 			{ background-image: url(icons/files.png); 		}
