{scaffolding_tree params=$_tree return=0}
{scaffolding_listing params=$_listing class=list}

{capture name=actions}
	<h1>Navigation</h1>
	<div class="menu">
		{$tree_add}
		{foreach from=$_tree.actions item=a}
			{if $_tree.user_can[$a.permission]}
				<a {if $a.id} id="action-button-{$a.id}"{/if} class="button {$a.class}" title="{$__labels.__globals.ACTIONS[$a.title]|default:$a.title}" href="{$a.href|default:$a.title}">{$__labels.__globals.ACTIONS[$a.title]|default:$a.title}</a>
			{/if}
		{/foreach}
		<div class="cleaner">&nbsp;</div>
	</div>
	{if $_listing.filters}
		<div class="listing_filter">
			{foreach from=$_listing.filters key=filter_name item=f}
				{html_field type=$f.type name=$filter_name data=$f.data value=$f.value class=$f.class show_empty_option=$f.show_empty_option|default:1 empty_option_title=$f.empty_option_title format=$f.format picker=$f.picker}
			{/foreach}
			<a class="button apply" title="{$__labels.__globals.ACTIONS.apply_filter}" href=""><span>{$__labels.__globals.ACTIONS.apply_filter}</span></a>
			<div class="cleaner">&nbsp;</div>
		</div>
	{/if}
{/capture}
{capture name=content}
	{$tree}
	<div class="cleaner">&nbsp;</div>
	<br/><br />
	<h1>Pages outside navigation</h1>
	{$listing}
{/capture}