php_value magic_quotes_gpc Off
php_value expose_php Off

ServerSignature Off
#ServerTokens Prod


Options +FollowSymlinks -Indexes
RewriteEngine On
RewriteBase /


RewriteRule ^([0-9A-Za-z\/:_-]*)$ index.php?route=$1 [L,QSA]

ErrorDocument 404 /index.php?route=/404/

ErrorDocument 403 "<h2>403 Forbidden</h2
ErrorDocument 500 "<h2>Application error</h2><p>Application failed to start properly</p>


